@model RoleEditModel

@{
    ViewData["Title"] = "EditRole";
    Layout = "_Layout";
}

@section css{
    <!-- BOOTSTRAP 4.6.0 -->
    <!-- [slightly customed BS in accordance with specification without changes of core elements] -->
    <link rel="stylesheet" href="~/css/css-min/Search.bundle.posted.min.css">

}


@section Header {

    <header>
        <nav class="navbar shadow justify-content-between w-100 px-2">
            <div class="d-inline-flex">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Logo.svg" alt="" class="logo align-self-center">
                </a>
            </div>
            <div class="d-inline-flex py-2">
                <a class="btn btn-reg btn-jobit-60 rounded-pill" asp-action="LogIn">
                    <i class="bi bi-box-arrow-right "></i>&ensp;Войти
                </a>
            </div>
        </nav>
    </header>

}

<div class="container vh-100">
    <div class="row">
        <div class="col">
            <h3 class="mb-3 ">Редактирование роли</h3>
            <div class="text-danger" asp-validation-summary="All"></div>
            <form asp-action="EditRole" method="post">
                <input type="hidden" name="roleName" value="@Model.Role.Name"/>
                <input type="hidden" name="roleId" value="@Model.Role.Id"/>
                <h6 class="bg-jobit p-1 text-white"> Добавить роль @Model.Role.Name</h6>
                <table class="table table-bordered table-sm" >
                    @if (Model.NonMembers.Count() == 0)
                    { <tr><td colspan="2">Все члены роли: </td></tr>}
                    else 
                    {
                    @foreach (AppUser user in Model.NonMembers)
                    { 
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id"/>
                        </td>
                    </tr>
                    }
                    }
                </table>
                <h6 class="bg-jobit p-1 text-white">Удалить роль @Model.Role.Name</h6>
                <table class="table table-bordered table-sm">
                    @if (Model.Members.Count() == 0)
                    {<tr><td colspan="2">В данной роли отсутствуют пользователи</td></tr> }
                    else 
                    {
                    @foreach (AppUser user in Model.Members)
                    { 
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.Id"/>
                        </td>
                    </tr>
                    }
                    }
                </table>
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a asp-action="RoleManagement" class="btn btn-dark">Выйти</a>
            </form>
        </div>
    </div>
</div>



